/*
Colors used

Text Color (Black): #000000;
Primary Color (Beige): #ffe6b3;
Secondary Color (Light Blue): #D0D7D9;
 */
 :root {
  --primary-color: #ffe6b3;
  --secondary-color: #b4e2f0;
  --dark-grey: #2b2b2b;
  --bold-font: 700;
  --normal-font: 400;
}

* {
   box-sizing: border-box;
 }


body{
    background-color: $primary-color;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: var(--normal-font);
    font-size: 16px;
    line-height: 1.3;
    background-color: var(--primary-color);
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: var(--bold-font);
    line-height: 2.2;
    text-align: center;

}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: var(--normal-font);
    line-height: 1.8;
    text-align: justify;
  }

h3{
  font-family: 'Source Sans Pro', inherit;
  font-size: 17px;
  font-weight: var(--bold-font);
  line-height: 1.5;
  text-align: justify;
}
  a{
      color: black;
  }

  a:visited {
      color: #444849;
  }

  a:hover,
  a:focus {
      text-decoration: none;
  }

  a:active {
      color: blue;
  }
  button,
  .button,
  a.button:link {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #ADD8E6;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    transition-duration: 0.5s opacity;
  }

  button:hover,
  button:focus,
  .button:hover,
  .button:focus {
    cursor: pointer;
    opacity: 0.75;
  }

  input[type="tel"],
  input[type="email"],
  textarea {
    width: 300px;
    margin-bottom: 10px;
  }

  button:hover,
  button:focus
 .button:hover,
 .button:focus {
    cursor: pointer;
    opacity: 0.6;
  }

  input[type="tel"],
  input[type="email"],
  textarea {
    width: 300px;
    margin-bottom: 10px;
  }

  table {
    margin: auto;
    margin-top: 35px;
  }

  .navigation-list__item--active {
    text-decoration: underline;
  }
  .page-header {
    display: flex;
    width: 100%;
    padding: 20px;
  }
  .page-header__item {
    flex: 0 1 200px;
  }
  .page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
  }

  .page-footer {
  clear: both;
  display: flex;
  text-align: center;
  flex-direction: column;
  }

  .profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  max-width: 400px;
  border-radius: 70%;

}

.profile {
  width: 50%;
  max-width: 700px;
  margin: 0 auto;
  text-align:center;
  padding-top: 20px
}



  .navigation-list {
    list-style-type: none;
  }
  .navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
.grid {
  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap: 20px;
  margin: 0;
}
.grid__item {
  display:inline-block;
  width: auto;
  min-height: auto;
  background-color: var(--secondary-color);
  padding: 10px;
  margin: 10px;

}

label
{
  display: inline-block;
  width: 150px;
}

input[type="text"]
{
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px
}

  .grid__item:last-child {
     grid-column: 3 / 3;
     grid-row: 1 / 3;
   }
   @keyframes color-change {
     0% {
       fill: #edc655;
     }
     50% {
       fill: #fcffad;
     }
     100% {
       fill: #f76414;
     }
   }
   .sun {
  animation: 15s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
.cloud-front {
  animation: 35s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(200px, 24px);
  }
  to {
    transform: translate(800px, 24px);
  }
}
.cloud-back {
  animation: 25s cloud-move-reverse infinite alternate linear;
}
   @media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 8px;
  }
  .projects-grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
